<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>730698705808-5ok1eej8jpk04jmgnn0jcgrs4gpa1mlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.730698705808-5ok1eej8jpk04jmgnn0jcgrs4gpa1mlv</string>
	<key>API_KEY</key>
	<string>AIzaSyD3qnlReHq5LACJ5teF4O5fvBteMNg9hKI</string>
	<key>GCM_SENDER_ID</key>
	<string>730698705808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DaneJApps.PasswordManager</string>
	<key>PROJECT_ID</key>
	<string>passwordmanager-22d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>passwordmanager-22d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730698705808:ios:b8eaeb4a585a19958ca115</string>
</dict>
</plist>